Importar librerias

In [1]:
import numpy as np  # Librería para manejo de arreglos numéricos
import pandas as pd  # Librería para manipulación de datos en estructuras tipo DataFrame
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score, cross_val_predict  # Métodos de validación cruzada
from sklearn.metrics import mean_squared_error  # Función para calcular el error cuadrático medio (MSE)
from sklearn.linear_model import LinearRegression, ElasticNet  # Modelos de regresión lineal y Elastic Net
from sklearn.neighbors import KNeighborsRegressor  # Modelo de K Vecinos más Cercanos
from sklearn.cross_decomposition import PLSRegression  # Regresión de Mínimos Cuadrados Parciales (PLS)
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor  # Modelos de Random Forest y Gradient Boosting

Importar datos

In [4]:
df = pd.read_excel(io = r"C:\Users\Stefania Alvarez\Documents\Universidad\2025-1\Tesis Final\Modelos de prediccion\PruebaDatos.xlsx", sheet_name = "Cordoba")

In [5]:
df.head()

,Ano,T.Max,T.Min,P.Vapor,Precipitacion,Irradicion,WindSpeed,Departameto,Irrigacion,Toneladas por Hectaria
0,2000,32.96,23.19,38.08,31.71,4593.10,1.05,1,1,5975.913858
1,2001,33.26,23.83,39.21,31.93,4591.66,1.09,1,1,5601.195926
2,2002,33.83,24.14,40.24,31.99,4591.66,0.94,1,1,4057.597788
3,2003,33.19,24.11,39.43,30.53,4591.66,1.11,1,1,4398.120031
4,2004,33.34,24.44,40.12,30.79,4593.10,1.05,1,1,4612.752932

Partimos los datos

In [8]:
features = ['T.Max', 'T.Min', 'P.Vapor', 'Precipitacion', "Departameto", "Irrigacion"]

X = df[features]
y = df['Toneladas por Hectaria']
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42) #No entiendo random state 42

Modelo Regresion Lineal

In [9]:
modelRL = LinearRegression()
modelRL.fit(X_train, y_train)

y_pred = modelRL.predict(X_train)  # Predicciones en los datos de validación

mse = mean_squared_error(y_train, y_pred)  # Calcula el MSE
rmse = np.sqrt(mse)  # Calcula el RMSE

print(f"MSE: {mse}")
print(f"RMSE: {rmse}")

MSE: 205739.23373994554
RMSE: 453.5848693904433